   /*
      SPACING SYSTEM (px)
      2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
      FONT SIZE SYSTEM (px)
      10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
      */
      /* 
      MAIN COLOR: #f1f7f7
      SECOUNDARY COLOR: #00866d
      GREY COLOR: #343a40
      */

   


* {
    margin: 0 ;
    padding: 0 ;
    box-sizing: border-box;
    color: #343a40;
 
    font-family: 'Merriweather', serif;
    }

    p {
        color: rgb(107, 98, 98);
    }

    html {
        font-size: 62.5%;
        scroll-behavior: smooth;
    }

    html, body {
        max-width: 100%;
        overflow-x: hidden;
    }

    .body {
        margin-inline: 10rem;
    }
    
    .nav-bar {
        display: flex;
        flex-direction: row;
        font-size: 2rem;
        justify-content: space-between;
        margin-inline: 4.8rem;
        /* padding-block: 2.8rem; */
        padding-block: 1rem;
        align-items: center;
    }

    .mobile-nav {
        display: none;
    }
    .navs a {
        text-decoration: none;
        margin-left: 6rem;
        font-size: 1.6rem;
        color: #218682;
    }

    header .navs a:last-child {
        padding-block: 0.5rem;
        padding-inline: 2rem;
        background-color: #218682;
        color: white;
        border-radius: 5rem;
    }

    header {
        background-color: #f1f7f7;
        /* height: 60rem; */
    }


    .hero_section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        
    }

    .hero_section .hero_message {
        margin-block: 20%;
        margin-inline-start: 17rem;
    }

    .hero_section .hero_message h2 {
        font-size: 5.2rem;
        font-weight: 500;
        /* color: #00866d; */
      
        
    }

    .hero_section img {
        width: 76.7%;
        height: fit-content;
        justify-self: end;
    }

    .hero_section .hero_message p {
        font-size: 1.8rem;
        margin-top: 2rem;
        color: #008660;
        margin-bottom: 8rem;
        font-weight: 600 ;
    }

    .hero_section .hero_message a {
        text-decoration: none;
        font-size: 1.6rem;
        padding-inline: 2rem;
        background-color: #008660;
        padding-block: 1rem;
        border-radius: 3rem;
        color: whitesmoke;
        text-align: center;
        text-justify: center;
        
    }


    .therapy {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-block: 12.8rem;
        gap: 2rem;
    }

    .therapy img {
        width: 65%;
        align-self: center;
        margin-block: auto;
        justify-self: center;
    }
    .therapy .therapy-message {
        margin-block: 5rem;
        margin-inline-end: 15rem;
    }

    .therapy-message h2 {
        font-size: 3rem;
        font-weight: 500;
        margin-bottom: 4rem;
    }

    .therapy-message p{
        font-size: 1.8rem;
        font-weight: 700;
        line-height: 1.5;
        margin-bottom: 6rem;
    }


    
    .therapy-message a {
            text-decoration: none;
            font-size: 1.6rem;
            padding-inline: 2rem;
            color: #008660;
            padding-block: 1rem;
            border-radius: 3rem;
            /* color: whitesmoke; */
            border: 2px solid #008660;
            text-align: center;
            text-justify: center;
            font-weight: 700;
        
    }


    .cares {
        display: flex;
        flex-direction: column;
        margin-inline: 2.5rem;
    }
    .cares h2 {
        font-size: 3rem;
        font-weight: 500;
        text-align: center;
    }

    .cares .cares_list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 6rem;
        margin-block: 8rem;
        margin-inline: 8rem;
    }

    .care {
        padding-top: 2rem;
        border-top: 2px solid #008660;
    }

    .care  h3{
        
        font-size: 1.8rem;
        margin-bottom: 2rem;

    }

    .care p {
        font-size: 1.6rem;
        line-height: 1.5;
    }

    .outcomes {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 4rem;
        padding: 4rem;
        background-color: #008660;
        color: whitesmoke;
        margin-block: 12.8rem;
    }

    .outcomes .outcome-message h2 {
        font-size: 3.6rem;
        font-weight: 500;
        margin-bottom: 2rem;
        color: whitesmoke;
    }

    .outcomes img {
        width: 65%;
        justify-self: center;
        align-self: center;
    }


    .outcome-message {
        margin-left: 4rem;
        margin-block: 8rem;
    }

    .outcome-message p {
        font-size: 1.8rem;
        line-height: 1.5;
        color: whitesmoke;
        margin-bottom: 4rem;
    }


    .outcome-message a {
        font-size: 2rem;
        color: whitesmoke;
        text-decoration: none;
        padding-bottom: 1rem;
        border-bottom: 1px solid whitesmoke;
    }


    .testimonial_section {
        margin-bottom: 12.8rem;
    }

    .testimonials {
        display: flex;
        flex-direction: column;
    }

    .testimonial_section h2 {
        font-size: 3rem;
        font-weight: 500;
        text-align: center;
        margin-bottom: 8rem;
    }

    .testimonials {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 6.5rem;
        margin-inline: 8rem;
        margin-bottom: 12.8rem;
    }

    .testimonial p {
        font-size: 2.8rem;
        line-height: 1.4;
        text-align: center;
    }

    .testimonial .person {
        margin-block: 4rem;
        display: flex;
        flex-direction: row;
        align-self: center;
        justify-content: center;
    }

    .testimonial .person img {
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        margin-right: 2rem;
    }

    .testimonial .person small {
        font-size: 2rem;
        align-self: center;
    }

    .getting_started {
        margin-top: 12.8rem;
    }

    .getting_started h2{
        font-size: 3rem;
        font-weight: 500;
        text-align: center;
        margin-bottom: 8rem;
    }


    .getting_started .steps {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-inline: 9rem;
        gap: 6rem;
        margin-bottom: 8rem;
    }


    .getting_started .steps .step .step-heading {
        display: flex;
        gap: 2rem;
        margin-bottom: 2rem;
    }

    .getting_started .steps .step .step-heading small {
        font-size: 2rem;
        font-weight: 700;
        padding-inline: 1.8rem;
        padding-block: 1rem;
        background-color: #008660;
        border-radius: 50%;
        color: whitesmoke;
        
    }

    .getting_started .steps .step .step-heading h3 {
        font-size: 2rem;
        align-self: center;
    }

    .getting_started .steps .step p {
        font-size: 1.8rem;
        line-height: 1.5;
    }

    .getting_started a{
        text-align: center;
        margin-left: 45%;
        font-size: 1.6rem;
        font-weight: 700;
        text-decoration: none;
        padding-inline: 2.4rem;
        padding-block: 0.8rem;
        border: 2px solid #008660;
        border-radius: 3rem;
        color: #008660;
    }

    .getting_started a:hover {
        background-color: #008660;
        color: whitesmoke;
    }


    .recent_blogs {
        margin-block: 12.6rem;
        /* display: flex; */
        /* flex-direction: column; */
    }

    h2.latest_blogs-heading {
        font-size: 3rem;
        text-align: center;
        margin-bottom: 6.4rem;
    }


    .blogs {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 4rem;
        margin-inline: 4rem;
    }
    .blog {
        box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
        padding-bottom: 1rem;
        border-radius: 1.5rem;
    }

    .blog img {
        width: 100%;
    }

    .blog-message {
        margin-inline: 1rem;
        margin-block: 1rem;
    }

    .blog-message small {
        font-size: 1.2rem;
        font-weight: 700;
        color: grey;
    }

    h2.blog-heading {
        font-size: 1.8rem;
        margin-bottom: 1rem;
    }

    .blog-message p {
        font-size: 1.4rem;
        line-height: 1.2;
        margin-bottom: 2rem;
        line-height: 1.3;
    }

    .blog-message a {
        font-size: 1.6rem;
        text-decoration: none;
        color: #00bb98;
    }

    .blog-btn {
        display: flex;
        justify-content: start;
    }
    footer {
        /* height: 12.4rem; */
        background-color: hsl(169deg 80% 88% / 35%);
        font-size: 1.8rem;
        padding-block: 1rem;
        text-align: center;
    }