/*
      SPACING SYSTEM (px)
      2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
      FONT SIZE SYSTEM (px)
      10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
      */
      /* 
      MAIN COLOR: #f1f7f7
      SECOUNDARY COLOR: #00866d
      GREY COLOR: #343a40
      */

      * {
        margin: 0 ;
        padding: 0 ;
        box-sizing: border-box;
        color: #343a40;
     
        font-family: 'Merriweather', serif;
        }

        html {
            font-size: 62.5%;
            scroll-behavior: smooth;
        }
    
    body{
        background-color: #f1f7f7 ;
        font-size: 1rem;
    }.bag {
        position: relative;
        background-color: white;
        width: 50%;
        height: 31.5rem;
        margin-inline: auto;
        margin-block: 2%;
        padding-inline: 2rem;
        padding-block: 2rem;
        overflow: hidden;
        border-radius: 1rem;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    }
        .header_bag {
            text-align: center;
            margin-inline: auto ;
            width: 45%;
            margin-top: 5%;
        }

        .header_bag h2 {
            font-size: 2.4rem;
        }

        .step p {
            font-size: 1.2rem;
            font-weight: 600;
            color: #787d81;
        }

        .step {
            font-size: 1.4rem;
            display: grid;
            grid-template-rows: 1fr 1fr;
        }


        .checked {
            display: none;
        }
    
        .progress {
            margin-top: 2rem;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            justify-content: space-evenly;
            align-items: center;
        }

        .counter {
            margin-top: 1rem;
            position: relative;
            height: 4rem;
        }
       
        /* .counter span {
            position: relative;
        } */



        /* .counter::before */

        .on .counter .checked {
            display: block;
            width: 4rem;
            height: 4rem;
            margin-inline: auto;
            border-radius: 50%;
            background-color: #43b773;
            justify-self: center;
            margin-top: -1.2rem;
           
        }
        .on .counter span {
            display: none;
        }
      
        .counter::after {
            content: '';
            position: absolute;
            bottom: 2.4rem;
            right: -9.9rem;
            height: 1.4rem;
            width: 14rem;
            /* display: block; */
            background: linear-gradient(to right, #43b773 50%, rgb(164, 226, 228) 50%);
            background-size: 200% 100%;
            background-position: right bottom;
            transition: all .5s ease-out;
        }

        .on .counter::after {
            /* content: ''; */
            background-position: left bottom;
            bottom: 2.4rem;
            width: 13rem;
            right: -9rem;
            /* transition: all 500ms ease-out; */
        }
/* 
        .step:first-child .counter span {
            background-color: #00866d;
            border-color: #00866d;
            color: white;
        } */

        
        
        .step:last-child .counter::after {
            display: none;
        }


        .counter span {
            color: rgb(19, 86, 88);
            border: 0.3rem solid rgb(164, 226, 228);
            padding-inline: 1.8rem;
            padding-block: 1.2rem;
            border-radius: 50%;
            color: #343a40;
            background-color: rgb(164 , 226,228);
            font-weight: 700;
            font-size: 1.2rem;
        }
        .dateofBirth small {
            margin-left: 1rem;
            margin-bottom: -0.8rem;
        }

        .dateofBirth {
            display: flex;
            flex-direction: column;
            gap: 0.01rem;
        }





        /******transition container *********/
        
        .caregiver_detail,.terms,.final_instr,.confirm {
            position: absolute;
            transform: translateX(120%);
            transition: all .5s ease-out;
        }



        .bag .on {
            position: absolute;
            transform: translate(0%);

        }
        
        .bag .off {
            transform: translate(-130%);
        }

        .bag .off_bck {
            transform: translate(120);
        }


        
        
        
        
        
        .personal_Info {
            position: absolute;
            transform: translateX(0%) ;
            transition: all .5s ease-out;

            
        }
        
        /* .on .personal_Info {
            transform: translateX(0%);
        } */

        .title {
            text-align: center;
            margin-bottom: 3rem;
        }

      


        .container {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }

        

        .container_left {
            display: flex;
            flex-direction: column;
            margin-right: 2rem;
        }

        .container_left input {
            margin-bottom: 1rem;
            outline: none;
        }

        input {
            padding-inline: 1rem;
            padding-block: 0.5rem;
            margin-top: 1rem;
            border: none ;
            border: 0.05rem solid rgb(197, 193, 193);
            width: 100%;

        }
        .name_container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 1rem;
        }

        .gender_and_Dbirth {
            display: flex;
            gap: 1rem;
            align-items: center;
        }

        .gender_and_Dbirth .dropdown {
            width: 30%;
        }

        #myDropdown {
            display: none;
        }

        .dropbtn {
            width: 110%;
            
            height: 2rem;
            background-color: white;
            outline: none;
            border: none;
            border: 0.05rem solid rgb(197, 193, 193);

        }
        
        .gender_and_Dbirth input{
            width: 100%;
            margin-inline: 1rem;
        }

        .address {
            margin-top: 1rem;
        }
        .address div {
            /* margin-top: 1rem; */
            display: grid;
            grid-template-columns: repeat(2 , 1fr);
            gap: 1rem;
            /* grid-template-rows: repeat(2 , 1fr); */
        }

        .address input{
            margin-right: 1rem;
            
        }


        .container_right {
                position: relative;
                border-radius: 0%;
                height: 140%;
                width: 110%;
                background-color: #abefe2;
                margin-top: -2rem;
                /* top: -50%;
                left: -3%;
                transform: translateX(0);
                transition: transform 0.6s ease-in-out; */
                /* padding-top: 3rem;
                padding-bottom: 4rem; */
        }

        .inner_container {
            /* margin-top: 55%;
            margin-left: 10%; */
            overflow: hidden;
            width: 100%;
            margin-top: 3.5rem;
            margin-left: 2rem;
        }

 

        
        .inner_container input {
            margin-block-end: 0.2rem;
            align-self: center;
        }
        .inner_container .medical_problems {
            margin-top: 0.3rem;
            margin-bottom: 2rem;
            height: 3rem;
            display: grid;
            grid-template-columns: 7.5fr 2.5fr;
            width: 80%;
        }
        .medical_problems div {
            display: flex;
            flex-direction: row;
            gap: 0.3rem;
        }


        .medical_problems div button {
            height: 1.7rem;
            width: 100%;
            align-self: center;
            margin-top: 1.2rem;
            margin-top: 0.7rem;
            margin-left: 0.4rem;
            background-color: aqua;
            border: none;
            font-size: 1.2rem;
            color: rgb(5, 82, 85);
        }

        .medical_problems div button:last-child {
            color: rgb(189, 66, 66);
        }


        .inner_container p {
            font-size: 1rem;
            margin-bottom: -0.9rem ;
            color:rgb(40, 143, 146)
        }

        
        .inner_container input {
            width: 100%;
        }

        .action_set {
            width: 40%;
            display: flex;
            flex-direction: row ;
            justify-content: space-between ;
            margin-inline: auto ;
            margin-block: 1rem;
        }

        .btn {
            padding-inline: 5rem;
            padding-block: 0.8rem;
            font-size: 1.4rem;
            font-weight: 600;
            border: none;
            outline: none;
            background-color: #00866d;
            color: white;
            border-radius: 0.5rem;
            cursor: pointer;
        }


        .btn_back {
            background-color: #48aa98;
        }



        /*********** Form validation ***********/

        .error {
            color: red;
            font-size: 1rem;
        }







        /********caregiver_info**********/

        /* .personal_info {
            display: none;
        } */


        .caregiver_detail {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 1rem;
            justify-items: center;
        }

        .caregiver_detail .caregiver img {
            width: 5rem;
            height: 5rem;
            border-radius: 50%;
            margin-inline: auto;
            /* text-align: center; */
            margin-left: 37%;
            margin-bottom: 1rem;
        }
        .caregiver_detail .caregiver {
            width: 90%;
            height: 100%;
            padding: 1rem;
            background-color: #f8f8f8;
            border-radius: 1rem;

            
        }

        .caregiver .personal_info {
            display: flex;
            flex-direction: column;
            text-align: center;
            gap: 0.2rem;
            margin-bottom: 1rem;
        }

        .personal_info h5 {
            font-size: 1.2rem;
        }
        .personal_info span,p {
            font-size: 1.2rem;
        }
        .caregiver .personal_info button {
            width: 40%;
            padding-block: 0.2rem;
            border-radius: 1.5rem;
            margin-inline: auto;
            font-size: 1rem;
            border: none;
            margin-top: 0.2rem;
            background-color: #48aa98;
            color: white;
        }
        .professional_info {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
        }

        .professional_info a {
            text-decoration: none;
            color: #48aa98;
        }

        .professional_info p {
            font-size: 1rem;
        }


        
        .caregiver {
            box-shadow: 0px 1px 3.8px 0px rgb(0 0 0 / 20%);
        }        






        /****Terms and Conditions*******/

        /* .caregiver {
            display: none;
        } */

        /* .action_set {
            display: none;
        } */


        .bag {
            overflow-y: scroll;
        }


        /********payment******/

        .final_instr {
            display: flex;
            flex-direction: column;
            margin-inline: 6rem;
            text-align: center;
            gap: 2rem;
            margin-block: 3rem;
        }

        .final_instr h3 {
            font-size: 3rem;
        }

        .final_instr div h5 {
            font-size: 2.2rem;
            padding-inline: 1rem;
            line-height: 1.6;
            color: #787d81;
        }


        /******Confirmation******/

        /* .confirm {
            transform: translateX(0%);
            transition: all .5s ease-out;
        }

        */
       /* .confirm {
            transform: translateX(-100%);
        }  */

        .bag {
            overflow-y: hidden;
        }
/* 
        .terms {
            display: none;
        } */

        .message {
            font-size: 1.8rem;
            margin-inline: 8.1rem;
            text-align: center;
        }

        .confirm img {
            width: 32.3%;
            height: 50.7%;
            margin-left: 34.8%;
        }

        .btn_nxt {
            align-self: flex-end;
        }

        .btn_back {
            opacity: 0;
            visibility: hidden;
            pointer-events: none;
            
        }


        .on .btn_back {
            opacity: 1;
            visibility: visible;
            pointer-events: auto ;
        }
