/*
      SPACING SYSTEM (px)
      2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
      FONT SIZE SYSTEM (px)
      10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
      */
      /* 
      MAIN COLOR: #f1f7f7
      SECOUNDARY COLOR: #00866d
      GREY COLOR: #343a40
      */

   


      * {
        margin: 0 ;
        padding: 0 ;
        box-sizing: border-box;
        color: #343a40;
     
        font-family: 'Merriweather', serif;
        }
    
        p {
            color: rgb(107, 98, 98);
        }
    
        html {
            font-size: 62.5%;
            scroll-behavior: smooth;
        }
    
        html, body {
            max-width: 100%;
            overflow-x: hidden;
        }
    
        .body {
            margin-inline: 10rem;
        }
        
        .nav-bar {
            display: flex;
            flex-direction: row;
            font-size: 2rem;
            justify-content: space-between;
            margin-inline: 4.8rem;
            /* padding-block: 2.8rem; */
            padding-block: 1rem;
            align-items: center;
        }
    
        .mobile-nav {
            display: none;
        }
        .navs a {
            text-decoration: none;
            margin-left: 6rem;
            font-size: 1.6rem;
            color: #218682;
        }
