     /*
      SPACING SYSTEM (px)
      2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
      FONT SIZE SYSTEM (px)
      10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
      */
      /* 
      MAIN COLOR: #f1f7f7
      SECOUNDARY COLOR: #00866d
      GREY COLOR: #343a40
      */

    
      * {
        margin: 0 ;
        padding: 0 ;
        box-sizing: border-box;
        color: #343a40;
     
        font-family: 'Merriweather', serif;
        }
    
        p {
            color: rgb(107, 98, 98);
        }
    
        html {
            font-size: 62.5%;
            scroll-behavior: smooth;
        }
    
        html, body {
            max-width: 100%;
            overflow: hidden;
        }
    
        .body {
            margin-inline: 10rem;
        }
    
        .bag {
            display: grid;
            grid-template-columns: 1fr 5fr;
            overflow-y: hidden;
        }
    
        .left_content ul {
            display: flex;
            flex-direction: column;
            gap: 5rem;
            text-align: center;
        }
    
        .left_content {
            padding-block: 3rem;
            /* height: -webkit-fill-available; */
        }
    
        .left_content {
            padding-block: 3rem;
            /* height: -webkit-fill-available; */
        }
    
        .bag_right {
            display: grid;
            grid-template-rows: 1fr 4fr;
        }
    
        .right_top {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }
    
        .right_bottom {
            font-size: 1.4rem;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            padding-inline: 7.7rem;
            padding-block-end: 3rem;
            overflow: scroll;
            height: 37%;
            display: flex;
            flex-direction: column;
            margin-block: 7rem;
            margin-inline: 7rem;
        }
    
        .right_bottom {
           
        }
    
        .right {
            padding: 5rem;
        }
    
        .bag_left {
            font-size: 2rem;
            padding-block: 13rem;
            background-color: #00866d;
            color: whitesmoke;
        }
    
        .right_top_content {
            /* background: red; */
            padding-inline: 2rem;
            padding-block: 2rem;
            display: flex;
            gap: 2rem;
            font-size: 1.6rem;
            background-color: #f1f7f7;
        }
    
        a.action_list {
            color: whitesmoke;
        }
        .content_left {
            text-align: center;
            justify-self: center;
            align-self: center;
        }
    
    
        .bottom_content_top {
            display: flex;
            justify-content: space-between;
            padding-block: 2.5rem;
        }
        tr {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            padding-block: 1rem;
        }
    
        th, td {
            justify-self: flex-start;
            width: 20rem;
            text-align: start;
        }
    
        .right_bottom {
            font-size: 1.4rem;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            padding-inline: 7.7rem;
            padding-block-end: 3rem;
        }
    
        tbody {
            overflow: scroll;
        }